###############################################################################
#
# ICE40HX8K constraint file (.pcf)
# CT256
####

set_io --warn-no-port VGA_BLUE G16
set_io --warn-no-port VGA_GREEN F16
set_io --warn-no-port VGA_RED E16
set_io --warn-no-port VGA_HSYNC D16
set_io --warn-no-port VGA_VSYNC C16
set_io --warn-no-port RST H16

set_io --warn-no-port PDL_L B16
set_io --warn-no-port PDL_R D14
set_io --warn-no-port PDL_U D15
set_io --warn-no-port PDL_D E14
set_io --warn-no-port PDL_E F15

# LED
# set_io --warn-no-port LED B3
set_io --warn-no-port LED1 B5
set_io --warn-no-port LED2 B4
set_io --warn-no-port LED3 A2
set_io --warn-no-port LED4 A1
set_io --warn-no-port LED5 C5
set_io --warn-no-port LED6 C4
set_io --warn-no-port LED7 B3
set_io --warn-no-port LED8 C3


# USB
#set_io --warn-no-port USBP B4
#set_io --warn-no-port USBN A4
#set_io --warn-no-port USBPU A3

# 16MHz clock
#set_io --warn-no-port CLK B2 # input
set_io --warn-no-port CLK J3
